#################
## Eclipse
#################

*.pydevproject         
*.metadata
GwtUserGroupSqli/bin/
GwtUserGroupSqli/tmp/
GwtUserGroupSqli/gwt-unitCache/
GwtUserGroupSqli/war/GwtUserGroupSqli/
GwtUserGroupSqli/war/WEB-INF/classes/
GwtUserGroupSqli/war/WEB-INF/deploy/
GwtUserGroupSqli/target/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath


